<ion-view view-title="About">
  <ion-content class="padding">
    <h3>About SkinSense</h3>
    <p>SkinSense was created by Ridoy Majumdar, Stephen Song, and Angela Vujic during HackDuke 2015.</p>
    <h3>Resources for Melanoma Information</h3>
    <a href="http://www.skincancer.org/skin-cancer-information/melanoma">Skin Cancer Foundation</a><br>
    <a href="http://www.cancer.org/cancer/skincancer-melanoma/index?cancerTypeRedirect=/Cancer/index">American Cancer Society</a><br>
    <a href="https://healthcarebluebook.com/">Healthcare Bluebook</a>
    <h3>About the Algorithm</h3>
    <p>The state-of-the-art computer vision algorithm based on published research utilizes a pre-existing database of 'learned' melanoma images and features of a dermatologist's diagnosis to provide a recommendation.</p>
  </ion-content>
</ion-view>
