<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        
        <!--<a ng-click="takePicture()"><img ng-show="url !== undefined" class="img-full" ng-src="{{chat.thumb}}"><img ng-show="url === undefined" class="img-full" ng-src="http://placehold.it/480x480"></a>-->

        <img ng-src="{{chat.thumb}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
