<ion-view view-title="SkinSense">
  <ion-content ng-controller="DashCtrl" class="padding row row-center">
      <div class="placeholder-photo">
      	<div class="placeholder-overlay" ng-show="progress"><div class="text-center spin" ><ion-spinner></ion-spinner><h2 class="no-margin">Analyzing Photo</h2></div></div>
      	<a ng-click="takePicture()">
      		<img ng-show="url !== undefined" class="img-full" ng-src="{{url}}">
      		<img ng-show="url === undefined" class="img-full" ng-src="img/placeholder_photo.png">
      	</a>
      </div>
      <p class="text-center lead">SkinSense detects melanoma by analyzing pictures of your skin. Take a close-up photo that shows your skin's details.</p>
  </ion-content>
</ion-view>
