<ion-view view-title="About">
  <ion-content class="padding">
    <h3>About SkinSense</h3>
    <p>SkinSense was created by Ridoy Majumdar, Stephen Song, and Angela Vujic during HackDuke 2015.</p>
    <h3>Resources for Melanoma Information</h3>
    <a href="">Link</a><br>
    <a href="">Link</a><br>
    <a href="">Link</a>
    <h3>About the Algorithm</h3>
    <p>Lorem ipsum Voluptate exercitation id consectetur adipisicing officia amet officia Excepteur dolor in fugiat nisi laboris cupidatat magna ad sunt occaecat sit labore.</p>
  </ion-content>
</ion-view>
